.wrapper {
  margin: 40px auto;
  text-align: center;
  width: 500px;
}

.logo {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #4CAF50;
  letter-spacing: 1px;
}

.navbar {
  list-style: none;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
}

.nav-link {
  text-decoration: none;
  padding: 20px 32px;;
  color: #388E3C;
  letter-spacing: 1px;
}

.button {
  background-color: #388E3C;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 16px 32px;
  font-size: calc(10px + 2vmin);
  letter-spacing: 1px;
  margin: 20px 0 20px 0;
}

.button-wrapper {
  text-align: center;
}

.ghost-button {
  border-radius: 50px;
  background-color: #fff;
  color: #388E3C;
  border: 1px solid #388E3C;
  margin: 20px 0 20px 0;

  padding: 16px 32px;
  font-size: calc(10px + 2vmin);
  letter-spacing: 1px;
}

.card {
  border: 2px solid #C8E6C9;
  border-radius: 16px;
  margin: 20px;
}

/* .hr { */
  /* margin: 0 60px; */
  /* width: 80%; */
/* } */

.form {
  text-align: left;
  padding: 20px 50px;
}

.form-field {
  margin: 8px 20px;
}

.form-input{
  border: none;
  border-radius: 50px;
  background-color: #eee;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}
