/* #212121 */

.body {
  padding: 40px;
  /* display: flex; */
  justify-content: center;
  text-align: center;
  width: 414px;
  margin: auto
}

.button {
  margin: 8px;
}

.card {
  border: 2px solid #C8E6C9;
  border-radius: 16px;
  margin: 20px;
}

.hr {
  width: 380px;
  /* margin: 0 40px; */
  align-items: center;

  /* justify-content: center; */
}

.logo {
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 40px 20px 60px;
  letter-spacing: 6px;
  color: #4CAF50;
  font-size: 22px;
  text-decoration: none;
  /* display: block; */
  width: 100%;
}

.navbar {
  display: flex;
  list-style: none;
  padding: 20px 0 20px 0; 
  width: 100%;
  background-color: #263238;
  min-height: 10vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.nav-link {
  text-decoration: none;
  padding: 24px;
  color: #388E3C;
  letter-spacing: 1px;
}