/* #212121 */

.wrapper {
  margin: 40px auto;
  justify-content: center;
  text-align: center;
  width: 500px;
}

.logo {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #4CAF50;
  letter-spacing: 1px;
  justify-content: center;
}

.navbar {
  list-style: none;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
}

.nav-link {
  text-decoration: none;
  padding: 20px;
  color: #388E3C;
  letter-spacing: 1px;
}

.button {
  margin: 8px;
}

.card {
  border: 2px solid #C8E6C9;
  border-radius: 16px;
  margin: 20px;
}

.hr {
  width: 380px;
  align-items: center;
}